*.iml
.gradle
.idea
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml/
/app/release
/app/seed.txt
/app/mapping.txt
.DS_Store
/build
/captures
/app/realease
.externalNativeBuild
.cxx
